.our-commitment {
   margin-top: 167px;
}

.our-commitment__container {
   padding-top: 55px;
   padding-bottom: 55px;
   max-width: 1110px;
   margin: 0 auto;
   background-image: url(../../img/about-bcg-img-2.jpg);
   background-repeat: no-repeat;
}

.our-commitment__text-wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.our-commitment__heading {
   font-size: 40px;
   line-height: 48px;
   color: #333D4B;
   width: 100%;
   text-align: left;
}

.our-commitment__text {
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #333D4B;
   mix-blend-mode: normal;
   opacity: 0.8;
   max-width: 540px;
}

@media only screen and (max-width:1160px) {
   
   .our-commitment__text {
      line-height: 25px;
      max-width: 400px;
   }
}

@media only screen and (max-width:950px) {
   
   .our-commitment__container {
      background-image: url(../../img/about-bcg-img-2-tablet.jpg);
   } 
   
   .our-commitment__container {
      padding-top: 0;
      padding-bottom: 0;
      padding-top: 10px;
      padding-bottom: 10px;
   }
   
   .our-commitment__fixed {
      width: 100%;
      margin: 0 auto;
      max-width: 1110px;
      padding-left: 60px;
      padding-right: 60px;
   }
}

@media only screen and (max-width:850px) {
   
   .our-commitment__fixed {
      padding-left: 0;
      padding-right: 0;
   }
}

@media only screen and (max-width:750px) {
   
   .our-commitment__text-wrapper {
      margin: 0;
      max-width: 550px;
   }
   
   .our-commitment__container {
      padding-top: 455px;
      background-image: url(../../img/about-bcg-img-2-mobile.jpg);
      background-position: center top;
   }
   
   .our-commitment__heading {
      text-align: center;
   }
   
   .our-commitment__text {
      text-align: center;
      max-width: 400px;
      margin: 0 auto;
   }
   
   .our-commitment__text-wrapper {
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
   }
}

@media only screen and (max-width:550px) {
   
   .our-commitment__text {
      font-size: 15px;
      line-height: 25px;
      max-width: 250px;
   }
   
   .our-commitment__heading {
      font-size: 32px;
      line-height: 48px;
   }

   .our-commitment__text-wrapper {
      max-width: 270px;
      margin: 0 auto;
   }
}
